body {
    font-family:'Montserrat', sans-serif;
}

/*HERO*/
.hero {
background-image: linear-gradient(to right, rgb(255, 255, 255, 0.1), rgb(255, 80, 17, 0.8)), url(/img/img-1.jpg);
height: 100vh;
}


.section-text {
    color: #FF5011;
}
.section-btn {
    background-color: #FF5011;
}

/*NAVIGATION*/
@media (min-width:496px) {
.navigation {
    padding: rem 0;
}
}
/*SECTION ONE*/
.section__one-cta {
    color: #FF5011;
}

/*SECTION TWO*/
@media (min-width:496px) {
    .section__two-text {
        margin: 1.5rem 0;
    }
}

/*SECTION THREE*/

.section__three-link:hover,
.section__three-link:active {
    background-color: #dee8e9;
    color: #FF5011;
    padding: 8px 12px;
}

@media (min-width:496px) {
    .section__three-list {
        margin-top: 4rem;
    }

    .section__three-list span {
        margin-left: 10px;
    }
    .section__three-link {
        font-size: 1.2rem;
    }
}

/*SECTION FOUR*/
.section__four {
    background-color: #dee8e9;
}
.section__four-link:hover,
.section__four-link:active {
    background-color: #ffffff;
    color: #FF5011;
    padding: 8px 12px;
}

@media (min-width:496px) {
 .section__four-box {
    margin: 0 auto;
    padding: 2rem 3rem;
 }
}

/*SECTION FIVE*/
.section__five {
    background: #000000;
        background: linear-gradient(to top right, #000000 25%, #FF5011 100%);
}

@media (min-width:496px) {
    .section__five-text {
        margin: 1.5rem 0;
    }

    .section__four-names {
        margin: 0 auto;
    }

    .section__four-names span {
        margin-left: 10px;
    }

    .section__four-link {
         font-size: 1.2rem;
    }
}

/*FOOTER*/
@media (min-width:496px) {
    .footer__link {
        flex-direction: column;
        margin: 0 6rem;
    }

    .footer__base {
        flex-direction: column;     
    }

    .footer__socials {  
        margin: 0 8rem;
    }

    .footer__policy {
        margin: 0 2rem;
    }
    .footer__policy a{
        padding-left: 4px;
    }
    .footer__copyright {
         margin: 0 3rem;
    }
}